xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48


!BLK Cursor
#define _color0        #2d2d25
#define _color8        #2d2d25
!RED Tag
#define _color1        #f7330d
#define _color9        #f7330d
!GRN SpecialKey
#define _color2        #6c9046
#define _color10       #6c9046
!YEL Keyword
#define _color3        #f8bc3c
#define _color11       #f8bc3c
!BLU Number
#define _color4        #104190
#define _color12       #104190
!MAG Precondit
#define _color5        #79447c
#define _color13       #79447c
!CYN Float
#define _color6        #78c2al
#define _color14       #78c2al
!WHT Search
#define _color7        #cccccc
#define _color15       #cccccc
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #eeeedd
#define _background    #0d0d0d
#define _cursorColor   #af9f8f
URxvt*color0         : _color0
URxvt*color1         : _color1
URxvt*color2         : _color2
URxvt*color3         : _color3
URxvt*color4         : _color4
URxvt*color5         : _color5
URxvt*color6         : _color6
URxvt*color7         : _color7
URxvt*color8         : _color8
URxvt*color9         : _color9
URxvt*color10        : _color10
URxvt*color11        : _color11
URxvt*color12        : _color12
URxvt*color13        : _color13
URxvt*color14        : _color14
URxvt*color15        : _color15
URxvt*colorBD        : _colorBD
URxvt*colorIT        : _colorIT
URxvt*colorUL        : _colorUL
URxvt*foreground     : _foreground
URxvt*background     : _background
URxvt*cursorColor    : _cursorColor
URxvt.scrollbar      : false
XTerm*color0         : _color0
XTerm*color1         : _color1
XTerm*color2         : _color2
XTerm*color3         : _color3
XTerm*color4         : _color4
XTerm*color5         : _color5
XTerm*color6         : _color6
XTerm*color7         : _color7
XTerm*color8         : _color8
XTerm*color9         : _color9
XTerm*color10        : _color10
XTerm*color11        : _color11
XTerm*color12        : _color12
XTerm*color13        : _color13
XTerm*color14        : _color14
XTerm*color15        : _color15
XTerm*colorBD        : _colorBD
XTerm*colorIT        : _colorIT
XTerm*colorUL        : _colorUL
XTerm*foreground     : _foreground
XTerm*background     : _background
XTerm*cursorColor    : _cursorColor

